@use "globals" as *;

body {
  background-color: var(--background-color);
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.mtMax {
  margin-top: 5vh;
}

.mbMax {
  margin-bottom: 10vh;
}

.translationOutput {
  background-color: #f0f8ff;
  /* margin: 1rem;
  border: 0.5px solid gray;
  border-radius: 25px;
  padding: 32px; */
}

.translationOutputCenter {
  display: grid;
  grid-template-areas: 
  "input output removeBtn";
  grid-template-columns: 40% 40% 1fr;
  grid-gap: 10px;
  background-color: white;
}

.input {
  border-right: 1px solid black;
  background-color: rgb(255, 255, 255);
  grid-area: input;
  padding: 16px;
  word-wrap: break-word;
  /* color: white; */
}

.output {
  background-color: rgb(255, 255, 255);
  grid-area: output;
  padding: 16px;
  word-wrap: break-word;
}

.removeBtn {
  cursor: pointer;
  border-left: 1px solid black;
  font-size: 5rem;
  color: greenyellow;
  border-color: black;
  transition: color 0.3s ease;
  grid-area: removeBtn;
  background-color: white
}

.removeBtn:hover {
  color: red;
  border-color: rgb(60, 129, 47);
}

.svgRemove {
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.translationWord {
  max-width: 330px;
  min-width: 200px;
  font-size: 3rem;
}

.translationWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20vw;
}

.translationWrapperElement {
  width: 30%;
}


.lang {
  font-size: 0.8rem; 
}

.translatedText {
  font-size: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 25%;
  font-size: larger;
  font-family: monospace;
  text-decoration: none;
  margin-top: 1%;
  border: 0.3rem solid black;
  border-radius: 25px;
  padding: 1rem;
  color: black;
  background-color: aliceblue;
  transition: color 0.5s ease;
}

.link:hover {
  background-color: black;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.wordInput {
  background-color: #f0f8ff;
  transition: color 0.8s ease;
  border: 0.3rem solid black;
  border-radius: 25px;
  font-size: 3rem;
  color: black;
  padding: 16px 32px 16px 32px;
  width: 80%;
}

.wordInput:focus {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: white
}

.wordInputBtn {
  cursor: pointer;
  transition: color 0.4s ease;
  width: 20%;
  height: 6rem;
  border: 0.3rem solid black;
  margin-left: 16px;
  border: 0.3rem solid black;
  border-radius: 25px;
  font-size: 3rem;
  color: black;
  background-color: aliceblue;
  /* top: 432px;
  left: 100px;
  position: absolute; */
}

.wordInputBtn:hover {
  background-color: black;
  border-color: white;
  color: greenyellow;
}

.wordCheckInput {
  padding: 16px;
  transition: color 0.8s ease;
  width: 70%;
  border-radius: 16px;
  font-size: 2rem;
  color: black;
  background-color: white;
}

/* .wordCheckInput:focus {
  background-color: rgb(0, 0, 0);
  color: white;
} */

.wordCheckBtn {
  margin-left: 10px;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.4s ease;
  color: black;
  border-radius: 16px;
  font-size: 2rem;
  width: 20%;
  font-family: monospace;
  background-color: aliceblue;
  margin-bottom: 10rem;
}

.wordCheckBtn:hover {
  background-color: black;
  border-color: white;
  color: yellowgreen;
}

.test {
  display: flex;
  justify-content: center;
}

.bgGray {
  background-color: gray;
}

.error {
  color: red;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.original {
  color: black;
  font-size: 4rem;
  font-family: monospace;;
  text-align: center;
  word-wrap: break-word;
}

.centerColumn {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.spacer {
  margin-bottom: 10px;
}

.auto {
  margin: 0 auto;
}

.testCenter {
  display: flex;
  justify-content: center;
}

.w50 {
  width: 50%;
}

.w50 {
  width: 50%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}



/* madia-queries */
/* 930 class "test" muss unter dem InputFeld sein */
/* 760 inputBtn nicht mehr rechts sondern unter dem inputFeld */
/* 560 */


@media (max-width: 930px) {
  /* testen */
  .test {
    flex-direction: column;
    align-items: center;
  }

  .wordCheckInput {
    width: 100%;
  }

  .wordCheckBtn {
    margin: 0px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 10rem;
  }
}


@media (max-width: 790px) {
  /* lernen */

  .input {
    border-right: none;
    border-bottom: 0.1px solid black;
  }

  .removeBtn {
    border-left: none;
    border-top: 0.1px solid black;
  }

  .center form {
    flex-direction: column;
    align-items: center;
  }

  .center form .wordInputBtn {
    margin-top: 10px;
  }

  .wordInputBtn {
    margin-left: 0px;
    width: 80%;
  }

  .translationOutputCenter {
    display: block;
  }

  /* testen */
    .relative {
      flex-direction: column;
      align-items: center;
    }
  
     .wordCheckBtn {
      margin-top: 10px;
      margin-bottom: 10rem;
    }
}

@media (max-width: 560px) {
  .header {
    display: block;
    .link {
      width: 100%;
      margin-top: 16px;
    }
  }

  .wordCheckBtn {
    margin-top: 10px;
    margin-bottom: 10rem;
  }

}



/* .translationOutputCenter {
  display: grid;
  grid-template-areas: 
  "input output removeBtn";
  grid-template-columns: 45% 45% 1fr;
  grid-gap: 10px;
} */